.mainPage {
	width: 100%;

	p {
		font-size: 24px;
	}

	.walletForm {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 6px;
		border-radius: 6px;
		background-color: grey;

		.changeBlock {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 12px;
			.currencyBox {
				padding: 6px;
				width: 40%;
				display: flex;
				flex-direction: column;
				border-radius: 6px;
				background-color: rgb(78, 73, 60);

				p {
					font-size: 16px;
				}

				div {
					display: flex;
					flex-direction: row;

					input {
						width: 100%;
						background-color: rgb(63, 63, 63);
						border-radius: 6px;
						margin-bottom: 12px;
						color: white;
					}


				}
			}
		}


		.inputBox {
			width: 100%;
			background-color: rgb(63, 63, 63);
			border-radius: 6px;
			margin-bottom: 12px;
			color: white;

			input {
				width: 100%;
				box-sizing: border-box;
				color: white;
				padding: 12px 0px 12px 30px;
				border: none;
			}

			input[id=email] {
				background: url('./email.svg') no-repeat left;
				background-size: 20px;
				background-position: 6px;
			}

			input[id=wallet] {
				background: url('./wallet.svg') no-repeat left;
				background-position: 6px;
				background-size: 20px;
			}
		}



		button {
			width: 100%;
			padding: 6px 0px;
			color: white;
			border-radius: 6px;
			border: none;
			background-color: rgb(121, 61, 129);
			cursor: pointer;

			&:hover {
				background-color: rgb(64, 9, 71);
			}

		}

	}


}